/* || General styles */
body{
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: rgba(123, 80, 111, 0.774);
    font-family: 'Open Sans Condensed', sans-serif;
}

h1{
    padding-top: 10px;
}

p{
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

button{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    background-color: #7B506F;
    color: #EAD7D1;
    border: none;
    padding: 30px;
    margin: 10px;
    min-width: 161px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

/* || Header and Navigation bar */
header{
    background-color: rgba(31, 26, 56, 0.801);
    margin-bottom: 20px;
    margin-top: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px 25px 0 0 ;
    min-height: 40px;
}

nav{
    position: relative;
    left: -40px;
    display: inline-block;
    margin: 0 5px;
}

header nav a {
color: #EAD7D1;
font-size: 15px;
padding: 10px;
text-decoration: none;
}

header nav a :visited {
    color: #EAD7D1;
}

#menu{
    color: #EAD7D1;
    padding: 15px;
    float: left;
}

.menu-content{
    display: flex;
    justify-content: flex-start;
}

#fontshift{
    position: absolute;
    margin-top: 0px;
    padding: 10px;
    border-radius: 10px;
    min-width: initial;
}

.indexImage{
    height: 50%;
    width: 50%;
}

.center{
    width: 60%;
    height: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: #EAD7D1;
    border-radius: 25px;
}

.button-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


button p{
    font-size: 15px;
    text-align: center;
    display:table-cell;
    font-family: 'Open Sans Condensed', sans-serif;    
}

button:hover{
    background-color: #DD99BB;
    color: black;
    padding: 35px;
}




/* || Footer */
footer{
    background-color: rgba(31, 26, 56, 0.801);
    margin-bottom: 0px;
    margin-top: 20px;
    padding-top: 10px;
    border-radius: 0 0 25px 25px;
}

.container{
    width: 100%;
    border-radius: 0 0 25px 25px;
    display: flex;
    justify-content: space-around;
    color: #EAD7D1;
}

.content1{
    width: 30%;
    display: inline-block;
    align-content: left;
}

.content2{
width: 30%;
display: inline-block;
align-content: left;
}

.content3{
width: 30%;
display: inline-block;
align-content: left;

}

/* Vad behöver du */

li{
    text-align: left;
}

.shopImage{
    width: 70%;
    height: auto;
}
.duo-flex-container{
    display: flex;
}

.duo-flex-container-content1{
    display: flex;
    width: 50%;
    justify-content: center;
    
}
.duo-flex-container-content2{
    display: flex;
    width: 50%;
}

#flex-end-cont1{
    justify-content: flex-end;
}

#flex-start-cont2{
    justify-content: flex-start;
}


/* Att komma igång */

table{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    border: 1px solid rgba(31, 26, 56, 0.8);
}

tr, th, td{
    padding: 10px;
}

figure{
    margin-top: 0px;
}

#horse-breeds{
    width: 500px;
    height: auto;
}

#img-map-message{
    display: none;
}

@media screen and (max-width: 1000px) {
    .duo-flex-container-content1{
        display: none;
    }
    .duo-flex-container-content2 {
        width: 100%;
    }
    #flex-start-cont2{
        justify-content: center;
    }
    #horse-breeds{
        display: none;
    }
    #img-map-message{
        display: block;
    }
    #fontshift{
        display: none;
    }
}