/* || General styles */
html, body{
    padding: 0;
    margin: 0;
}

html{
    height: 100%;
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body{
    min-height: 100%;
    background-color: rgba(126, 96, 117, 0.699);
    font-family: 'Raleway', sans-serif;
}

h1{
    padding-top: 10px;
    font-size: 350%;
}

p{
    font-size: 25px;
    margin-right: 20px;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
}



/* || Header and Navigation bar */
header{
    background-color: rgba(31, 26, 56, 0.801);
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px 25px 0 0 ;
    min-height: 40px;
}

nav{
    position: relative;
    left: -40px;
    display: inline-block;
    margin: 0 5px;
}

header nav a {
color: #EAD7D1;
font-size: 20px;
padding: 10px;
text-decoration: none;
}

header nav a :visited {
    color: #EAD7D1;
}

#menu{
    color: #EAD7D1;
    padding: 15px;
    float: left;
}

.menu-content{
    display: flex;
    justify-content: flex-start;
}


/* || Button styles */

button{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    background-color: #7B506F;
    color: #EAD7D1;
    border: none;
    padding: 30px;
    margin: 10px;
    min-width: 161px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

.button-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


button p{
    font-size: 20px;
    text-align: center;
    display:table-cell;
    font-family: 'Raleway', sans-serif;    
}

button:hover{
    background-color: #DD99BB;
    color: black;
    padding: 35px;
}

#fontshift-button{
    font-size: 20px;
    position: absolute;
    margin-top: 1%;
    padding: 10px;
    border-radius: 10px;
    min-width: initial;
}


/* || Footer */
footer{
    margin-top: 15px;
    background-color: rgba(31, 26, 56, 0.801);
    padding-top: 10px;
    border-radius: 0 0 25px 25px;
}

.footer{
    font-size: 20px;
    width: 100%;
    border-radius: 0 0 25px 25px;
    display: flex;
    justify-content: space-around;
    color: #EAD7D1;
}

.footer-names{
    width: 30%;
    display: inline-block;
    align-content: left;
}

.footer-last-modified{
width: 30%;
display: inline-block;
align-content: left;
}

.footer-timer{
width: 30%;
display: inline-block;
align-content: left;
}


/* || Table styles */
table{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    border: 1px solid rgba(31, 26, 56, 0.8);
}

tr, th, td{
    padding: 10px;
    font-size: 20px;
}

/* List styles*/

li{
    text-align: left;
    font-size: 20px;
}


/* || Container styles */
.center{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(234, 215, 209, 0.87);
    border-radius: 25px;
}

.duo-flex-container{
    display: flex;
}

.duo-flex-container-content1{
    display: flex;
    width: 50%;
    justify-content: center;
    
}
.duo-flex-container-content2{
    display: flex;
    width: 50%;
}

#flex-end-cont1{
    justify-content: flex-end;
}

#flex-start-cont2{
    justify-content: flex-start;
}



/* || Image styles */
.image1{
    width: 70%;
    height: auto;
    opacity: 0.85;
}

#horse-breeds{
    width: 500px;
    height: auto;
}


.indexImage{
    height: 50%;
    width: 50%;
}

/* || Elements tied to responsiveness of webpage */
#img-map-message{
    display: none;
}

/* || Media querys */
@media screen and (max-width: 1000px) {
    .duo-flex-container-content1{
        display: none;
    }
    .duo-flex-container-content2 {
        width: 100%;
    }
    #flex-start-cont2{
        justify-content: center;
    }
    #horse-breeds{
        display: none;
    }
    #img-map-message{
        display: block;
    }
    #fontshift-button{
        display: none;
    }
}